<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
</head>

<div class="home-intro">
    <div style="font-family:'Borel', cursive; font-size:2.5em">Welcome!</div>
    <div> 
        <h3>
            I am a mathematics graduate student at Indiana University interested in arithmetic geometry.
        </h3>

        <h4>
            Email: <a href=mailto:“asherju@iu.edu”>asherju@iu.edu </a><br>
            Office: Swain East 341 <br>
            Pronouns: he/him/his <br>
        </h4>
    </div> 
</div>